body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.informs{

}
.green{
	float: right;
	color: #fff;
	background-color: #3EB94E;
	border: 0px #fff solid;
	border-radius: 3px;
	padding: 3px;
}