*{
	text-decoration: none;
	margin: 0;
	padding: 0;
	font-family:Tahoma,Verdana,STHeiTi,simsun,sans-serif;
}
.bloder{
	font-weight: bolder;
}
.dian{
	display: inline-block;
	border-radius: 50%;
	margin-right: 2px;
	width: 2px;
	height: 2px;
	border: 2px solid #000;
	background-color: #000;
}
.titleWrap{
	display: flex;
	margin-top: 10px;
}
.picRes{
	max-width: 100%;
}
.inform{
	width: 100%;
	overflow: hidden;
}
.informs{
	font-size: 16px;
}
.informPic{
	margin-bottom: 10px;
}
.informWrap{
	padding: 0px 15px;
}
.informBtn{
	float: right;
	padding:0px 5px;
	border-radius: 3px;
	color: #fff;
	background-color: rgba(26,173,25,1);
}
.informTitle{
	font-size: 18px;
	padding: 2px 0;
	margin-left: 8px;
	background-color: rgba(204,204,204,.5);
	overflow: hidden;/*超出部分隐藏*/
    white-space: nowrap;/*不换行*/
    text-overflow:ellipsis;/*超出部分文字以...显示*/
}
.informTitle a{
	color: #000;
}
.informTitle_1{
	font-size: 20px;
	width: 80%;
	margin: 10px auto;
	color: #86a1ba;
}
.informDate{
	width: 80%;
	margin: 0px auto;
	color: #888;
}
.informContent{
	width: 80%;
	margin: 0 auto;
}
.entrys{
	font-size: 16px;
}
.entryPic{
	margin-bottom: 10px;
}
.entryWrap{
	padding: 0px 15px;
}
/*.entryBtn{
	float: right;
	padding:0px 5px;
	border-radius: 3px;
	color: #fff;
	background-color: rgba(26,173,25,1);
}*/
.entryTitle{
	font-size: 18px;
	padding: 2px 0;
	margin-left: 8px;
	background-color: rgba(204,204,204,.5);
	overflow: hidden;/*超出部分隐藏*/
    white-space: nowrap;/*不换行*/
    text-overflow:ellipsis;/*超出部分文字以...显示*/
}
.entryTitle a{
	color: #000;
}
.entryTitle_1{
	font-size: 20px;
	width: 80%;
	margin: 10px auto;
	color: #86a1ba;
}
.entryDate{
	width: 80%;
	margin: 0px auto;
	color: #888;
}
.entryContent{
	width: 80%;
	margin: 0 auto;
}
.table-wrap{
	font-size: 12px;
	//display: flex;
}
.table-cell{
	//flex: 1;
	display: flex;
	//flex-direction: row-reverse;
}
.table-td{
	flex: 1;
	word-wrap: break-word;
	border: 1px solid #000;
}
.tableRe{
	border-collapse:collapse;
	font-size: 14px;
}
.trRe{

}
.tdRe{
	border: 1px solid #000;
}
.entryContent img{
	max-width: 240px !important;
	max-height: 180px  !important;
}
.entryContent table{
	width: 100% !important;
}
.informContent img{
	max-width: 240px !important;
	max-height: 180px  !important;
}
.informContent table{
	width: 100% !important;
}