<!DOCTYPE html>
<html>
  <head>
    <title>教务处</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/jquery-weui.min.css' />
    <link rel='stylesheet' href='/stylesheets/weui.min.css' />
  </head>
  <body>
  <div class="entry">
    <div class="informPic">
      <img class="picRes" src="../images/inform.jpg" alt="">    
    </div>
    <p class="entryTitle_1"><%= entry.title %><p>
    <p class="entryDate"><%= entry.date %><p>
    <div class="entryContent">
      <%- entry.content.entry %>
    </div>
 </div>
    
  
  <script src='/javascripts/jquery-2.1.4.js'></script>
 <!--  <script src='/javascripts/jquery-weui.min.js'></script> -->
  <script>
  //一个教训（保留提醒自己）：
//   function encodeHtml(str){
//     var encodedStr = "" ;
//     if (str=="") return encodedStr ;
//     else {
//         for (var i = 0 ; i < str.length ; i ++){
//             encodedStr += "&#" + str.substring(i, i + 1).charCodeAt().toString(10) + ";" ;
//         }
//     }
//     return encodedStr ;
// }

//       var content = document.getElementsByClassName('entryContent')[0];
//       var reContent = encodeHtml(content.innerHTML);
//       $('.entryContent').append(reContent);

  </script>
  </body>
</html>
