<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="entrys">
    <div class="informPic">
      <img class="picRes" src="./images/inform.jpg" alt="">    
    </div>

    <div class="entryWrap">
      <p class="bloder">业务流程</p>
      <% for(var i =0; i < workFlows.length; i++){ %>
      <div class="titleWrap">
      
        <div>
          <span class="dian"></span>
        </div>

        <div style="width: 100%;overflow: hidden;">
          <p class="entryTitle"><a href="./getEntry/<%- i %>"><%= workFlows[i].title %></a><p>
        </div>

      </div>
      <% } %>
    </div>

 </div>
 
  </body>
</html>
