<!DOCTYPE html>
<html>
  <head>
    <title>教务处</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/jquery-weui.min.css' />
    <link rel='stylesheet' href='/stylesheets/weui.min.css' />
  </head>
  <body>
  <div class="inform">
    <div class="informPic">
      <img class="picRes" src="../images/inform.jpg" alt=""> 
    </div>

    <p class="informTitle_1"><%= inform.title %><p>
    <p class="informDate">发布时间:<%= inform.date %><p>
    <div class="informContent">
      <% for(let i = 0;i<inform.content.entry.length;i++){ %>
        <p><%= inform.content.entry[i] %><p>
      <% } %>
    </div>
 </div>
    
  
  <script src='/javascripts/jquery-2.1.4.js'></script>
  <script src='/javascripts/jquery-weui.min.js'></script>
  </body>
</html>
