<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="entry">
    <% for(var i =0; i < entrys.length; i++){ %>
      <h3><%= entrys[i].title %></h3>
    <% } %>
 </div>
    

  </body>
</html>
